@font-face {
    font-family: 'TTLakes';
    src: url('assets/fonts/TTLakes-Thin.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TTLakes', sans-serif;
    background-color: #f8f8f8;
}

.header {
    min-height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px;
    background-color: transparent;
    border-bottom: none;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    border-bottom: 1px solid #D9FFF5;
    z-index: 1;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 88px;
    z-index: 2;
}
.header__left { 
    order: 1;
}
.header__right {
    order: 2;
}
.header__logo {
    width: 97px;
}

.header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}
.header__divider--side--left {
    display: none;
}
.header__divider--side--right {
    display: block;
}
.header__title-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
    margin-left: -16px;
    padding: 25px 0;
    width: 100%;
    order: 3;
    z-index: 2; 
}
.header__highlight {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
}
header__title {
    font-size: 28px;
    font-weight: 700;
    color: #1b1c21;
}

.btn {
    min-width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}
.btn--view--tablet-only,
.btn__text--type--repair,
.btn__text--type--checkstatus {
    display: none;
}

.main-content {
    min-height: 1722px;
    background-color: #F8F8F8;
}

.slide-menu {
    display: flex;
    gap: 6px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 10px;
    margin-bottom: 24px;
    width: 100%;
}
.slide-menu::-webkit-scrollbar {
    display: none;
}
.slide-menu__button {
    height: 40px;
    padding: 0 20px;
    flex-shrink: 0;
    white-space: nowrap;
    background-color: #F8F8F8;
    border-radius: 6px;
    border: none;
    font-family: 'TTLakes', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #7E7E82;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slide-menu__button--state--active {
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
}

.info-container {
    font-family: 'TTLakes', sans-serif;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #1B1C21;
    margin-bottom: 12px;
    padding-left: 16px;
}

.info-container__paragraph--size--second {
    display: none;
}
.info-container__photo {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid #ffffff;
}

.btn-readmore {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
.btn-readmore__text {
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
}

@media (min-width:768px){
    .header__divider--size--left {
        display: block;
        order: 2;
    }
    .header-left .btn--type--burger {
        order: 1;
    }
    .header__left .header__logo {
        order: 3;
    }
    .btn--view--tablet-only {
        display: inline-block;
    }

    .info-container {
        flex-direction: row;
        align-items: stretch;
    }
    .info-container__left,
    .info-container__right {
        flex: 1;
    }
    .info-container__paragraph--size--second {
        display: block;
    }
    .info-container__text-part--visible--tablet {
        display: inline;
    }
    .info-container__text-part--visible--desktop {
        display: none;
    }
}    

@media (min-width: 1120px) {
    .header::before {
        display: none;
    }

    .header__left,
    .btn--view--tablet-only,
    .header__divider--side--right {
        display: none;
    }
    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: transparent;
        padding: 32px 32px 20px 0;
        border-bottom: none;
        height: auto;
    }
    .header__title-wrapper {
        width: auto;
        margin: 0;
        order: 1;
    }
    .header__right {
        display: flex;
        align-items: center;
        gap: 32px;
        order: 2;
    }
    
    .btn--type--repair,
    .btn--type--checkstatus {
        width: auto;
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        cursor: pointer;
    }
    .btn__text--type--repair,
    .btn__text--type--checkstatus {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
        white-space: nowrap;
        order:1;
    }
    .btn__img--type--repair,
    .btn__img--type--checkstatus {
        order: 2;
    }

    .info-container__text-part--visible--desktop {
        display: inline;
    } 
    .slide-menu {
       flex-wrap: wrap;
       overflow-x: visible;
       gap: 10px 6px;
       padding: 0 10px;
    }
    
    .slide-menu__button {
       flex-shrink: 1;
    }
}